.top { margin: -15px ;
height: 59px; width: 101.8%;
background-color: #f1f1f1;
border-bottom: 1px solid #666; border-bottom-color: #e5e5e5;
visibility: visible;
}
li { list-style-type: none}
.logo {height: 59px; width: 118px; float:left; position: absolute; top: 0px; left: 0px; line-height: 59px; padding: 3px 10px 0px 1px}

#googlelogo {height: 35px; margin-bottom: 45px ;
padding: 3px 10px 0px 10px; margin-top: -12px; }

#blue {height: 54px; line-height: 54px; border-bottom: 1px solid;
border-bottom-color: #ebebeb; width: 101.8%; margin: -15px;
min-width: 1000px

}


.line {margin-left: 150px; top: 0px; height: 59px; line-height: 59px; min-width: 600px}

.line li {list-style-type: none; display: inline; min-width: 450px;}

#blue .bar2 li { display: inline; margin-top: 10px; float: left; position: relative; margin: 0 8px 0 8px;
padding: 0 8px; text-decoration: none;color: gray
}

#blue .bar2 li:first-child {margin-left: 111px; }

#blue .bar2 li {font-family: "Arial"; font-size: small}

#blue .bar2 li:hover {color: #4285f4; font-weight: bold}

.results {height:43px; position: relative; line-height: 43px; margin: 0 0 0 128px; padding-left: 16px; min-width: 600px}

.numbers {white-space: nowrap; display: block; visibility: inherit! important; font-family: "arial" sans-serif;}

.results .number p {color: #808080}
.body {position: relative; height: 833px; width: 1150px; margin: 0px 0px 0px 128px; padding-left: 16px}

.body .child .result1 h3 { font-family: sans-serif; font-family: "arial"; font-size: medium; font-weight: normal; overflow-y: scroll; color: #1a0dab; font-size: 18px; width: 540px; height: 20px; zoom: 1; visibility: visible; margin-bottom: 0px;  }

.body .child .result1 h3:hover {text-decoration: underline}

.body .child .info p {color: #006621; font-style: normal; line-height: 16px; height: 17px; padding-top: 0px; position: relative; display: block;font-weight: normal;}